*{
    margin:0;
    padding:0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #ffffff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(background3.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 9px 9%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #FFFAF0;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

} 
.header-text{
    margin-top: 20%;
    font-size: 30px;   
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #f8f8f8;
}
/* -----------about--------------- */
#about{
    padding: 80px 0;
    color: #ffffff;   
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;   
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;   
}

.sub-titles{
    font-size: 60px;
    font-weight: 600;
    color: #fff;   
}
.tab-titles{
    display: flex;
    margin: 20px o 40px;
}
/* -----------portfolio--------------- */
#porfolio{
    padding: 50px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* -----------portfolio--------------- */
#contacts{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}